:root {
  --cor-roxa: #8843f2;
  --cor-rosa: #ef2f88;
  --cor-laranja: #f47340;
  --cor-amarela: #f9d371;
  --cor-lilas: #e143f2;
  --cor-azul: #0297e2;
  --cor-verde: #3ccb4b;
  --cor-azul-claro: #12fff7;
  --cor-verde-claro: #b3ffab;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#b3ffab, #12fff7) no-repeat;
  min-height: 100vh;
}

[data-bg="roxa"] {
  background: var(--cor-roxa);
  color: white;
}

[data-bg="laranja"] {
  background: var(--cor-laranja);
  color: white;
}

[data-bg="verde"] {
  background: var(--cor-verde);
  color: white;
}

[data-bg="azul"] {
  background: var(--cor-azul);
  color: white;
}

[data-bg="amarelo"] {
  background: var(--cor-amarela);
  color: white;
}

[data-bg="lilas"] {
  background: var(--cor-lilas);
  color: white;
}

[data-bg="rosa"] {
  background: var(--cor-rosa);
  color: white;
}

[data-bg="iris"] {
  background-image: linear-gradient(135deg, var(--cor-verde-claro), var(--cor-azul-claro));
  color: black;
}

[data-container="grafico"] {
  max-width: 400px;
  margin: 0px auto;
}

[data-container="grafico"] h2 {
  text-align: center;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input,
button {
  font-family: "Kumbh Sans", sans-serif;
}

p {
  font-size: 1.125rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.about {
  max-width: 980px;
  margin: 4rem auto;
  text-align: center;
}

.about h1 {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  max-width: 980px;
  margin: 0px auto;
}

.categoria {
  flex: 1;
  margin: 0px 0.5rem 4rem 0px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 1s);
  border-radius: 1rem;
}

.grafico {
  flex: 1;
  margin: 0px 0px 4rem 0.5rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 1s);
  border-radius: 1rem;
}

#total .grafico {
  margin-bottom: 8rem;
}

form {
  position: relative;
  margin: 1rem 0px;
}

form div {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  font-weight: 700;
}

.categoria input {
  display: block;
  width: 100%;
  background: transparent;
  padding: 0.2rem 0.5rem;
  border: 3px solid;
  border-radius: 0.2rem;
  font-size: 1.125rem;
  transition: 0.4s;
}

.categoria input:focus {
  outline: none !important;
  border: 3px solid white;
}

.btn {
  display: block;
  position: relative;
  right: 0px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.btn:hover {
  background: white;
  color: currentColor;
  box-shadow: 0px 0px 0px 0px;
}

#moradia .subtitle {
  color: var(--cor-roxa);
}

#moradia label {
  color: var(--cor-roxa);
}

#moradia input {
  border-color: var(--cor-roxa);
}

#alimentacao .subtitle {
  color: var(--cor-laranja);
}

#alimentacao label {
  color: var(--cor-laranja);
}

#alimentacao input {
  border-color: var(--cor-laranja);
}

#saude .subtitle {
  color: var(--cor-verde);
}

#saude label {
  color: var(--cor-verde);
}

#saude input {
  border-color: var(--cor-verde);
}

#transporte .subtitle {
  color: var(--cor-azul);
}

#transporte label {
  color: var(--cor-azul);
}

#transporte input {
  border-color: var(--cor-azul);
}

#lazer .subtitle {
  color: var(--cor-amarela);
}

#lazer label {
  color: var(--cor-amarela);
}

#lazer input {
  border-color: var(--cor-amarela);
}

#assinaturas .subtitle {
  color: var(--cor-lilas);
}

#assinaturas label {
  color: var(--cor-lilas);
}

#assinaturas input {
  border-color: var(--cor-lilas);
}

#pet .subtitle {
  color: var(--cor-rosa);
}

#pet label {
  color: var(--cor-rosa);
}

#pet input {
  border-color: var(--cor-rosa);
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: rgba(255,255,255,1);
  width: 100%;
  padding: 1rem 2rem;
}

.total-container a {
  text-decoration: none;
}